* {
    margin: 0%;
    padding: 0%;
}

/*Estilo del Header*/
.padre {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #AAE3E2;
}

.padre ul {
    margin: 0%;
    padding: 0%;
    display: flex;
}

.padre ul li {
    list-style: none;
    justify-content: center;
    transition: 0.5s;
}

.padre ul li a {
    display: block;
    text-decoration: none;
    position: relative;
    font-family: 'Bebas Neue', sans-serif;
    color: black;
    font-size: 35px;
    justify-content: space-around;
    padding: 20px;
    transition: 0.5s;
}

.padre ul li a:hover {
    transform: scale(1.1);
    opacity: 2;
    filter: blur(0px);
}

.padre ul li a:before {
    position: absolute;
    top: 0%;
    left: 0%;
    background: #FDEBED;
    width: 100%;
    height: 100%;
    transition: 0.5s;
    transform-origin: right;
    transform: scaleX(1.5);
    z-index: -1;
}

.carrito {
    width: 40px;
    height: 40px;
    justify-content: right;
    padding-right: 50px;
    padding-left: 5px;
    background: none;
    border-radius: 10px;
    color: black;
}

.lupa {
    width: 35px;
    height: 35px;
    justify-content: right;
    padding-right: 10px;
    padding-left: 0px;
    background: none;
    border-radius: 10px;
    color: black;
}

.logo {
    width: 80px;
    height: 80px;
    justify-content: left;
    padding: 10px;
    margin: 10px;
    background-color: none;
    border-radius: 50%;
}

/*Estilo de los productos*/

.contenidop {

    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    justify-content: center;
    text-align: center;
    gap: 3px;

}

.contenidop>div {
    font-family: Arial, Helvetica, sans-serif;

}


.imagen1 {
    border-radius: 30px;
    width: 50%;
    max-width: 400px;
}

.titulo {
    background-color: #FFCEFE;
    width: 100%;
    text-align: justify;
    color: black;
    font-weight: 500;
    padding-left: 40px;
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 35px;
    font-family: 'Bebas Neue', sans-serif;
}


/*ESTILOS TARJETAS CURSOS*/

.containerprod{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    width: 300px;
    height: 200px;
    margin: 20px;
    padding-bottom: 180px;
    background-color: #FFCEFE;
    box-shadow: 2.5px 2.5px 10px rgba(0, 0, 0, 0.1);
}

.card h6{
    color: black;
    text-align: center;
    font-weight: 500;
    padding: 5px;
    font-size: 30px;
    font-family: 'Bebas Neue', sans-serif;
}

.card img{
    width: 300px;
    height: 200px;
}

.card .contenido{
    padding: 8px;
    background-color: #FFCEFE;
}

.card .contenido p{
    color: black;
    font-size: 14px;
    line-height: 1.5;
    text-align: justify;
    font-family: 'Lato', sans-serif;
    background-color: #FFCEFE;
}

.card:hover{
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3);
    transition: 0.2s ease;
}

.link{
    text-align: center;
}

.link a{
    text-decoration: none;
    color: black;
    font-size: 22px;
    font-family: 'Bebas Neue', sans-serif;
}

.link a:hover {
    color: #AAE3E2;
    transition: 0.2 s;
}

/*ESTILOS NUEVO FOOTER*/

.footerct {
    background-color: #FDEBED;
    color: black;
    margin-top: 50px;
}

.footer-row{
    display: flex;
}

.footer-links{
    width: 25%;
    margin: 20px;
    padding: 10px;
    text-align: center;
}

.footer-links h5{
    font-size: 30px;
    font-family: 'Bebas Neue', sans-serif;
    margin-bottom: 10px;
    border-bottom: 5px solid #AAE3E2;
    display: inline-block;
}

.footer-links p{
    font-size: 20px;
    font-family: 'Bebas Neue', sans-serif;
}

.footer-links ul li {
    list-style: none;
}

.footer-links ul li a{
    color: black;
    font-size: 20px;
    font-family: 'Bebas Neue', sans-serif;
    text-decoration: none;
    display: block;
    margin-bottom: 5px;
}

.footer-links ul li a:hover{
    color: #AAE3E2;
    transition: 0.2 s;
}

.iconos a i{
    font-size: 50px;
    color: black;
    padding-top: 2px;
    padding-bottom: 15px;
}

.iconos a:hover i{
    color: #AAE3E2;
    transition: 0.2 s;
}

.copy{
    text-align: left;
    font-size: 18px;
    padding: 5px;
    font-family: 'Bebas Neue', sans-serif;
}
