* {
    margin: 0%;
    padding: 0%;
}


.padre {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #AAE3E2;
}

.padre ul {
    margin: 0%;
    padding: 0%;
    display: flex;
}

.padre ul li {
    list-style: none;
    justify-content: center;
    transition: 0.5s;
}

.padre ul li a {
    display: block;
    text-decoration: none;
    position: relative;
    font-family: 'Bebas Neue', sans-serif;
    color: black;
    font-size: 35px;
    justify-content: space-around;
    padding: 20px;
    transition: 0.5s;
}

.padre ul li a:hover {
    transform: scale(1.1);
    opacity: 2;
    filter: blur(0px);
}

.padre ul li a:before {
    position: absolute;
    top: 0%;
    left: 0%;
    background: #FDEBED;
    width: 100%;
    height: 100%;
    transition: 0.5s;
    transform-origin: right;
    transform: scaleX(1.5);
    z-index: -1;
}

.carrito {
    width: 40px;
    height: 40px;
    justify-content: right;
    padding-right: 50px;
    padding-left: 5px;
    background: none;
    border-radius: 10px;
    color: black;
}

.lupa {
    width: 35px;
    height: 35px;
    justify-content: right;
    padding-right: 10px;
    padding-left: 0px;
    background: none;
    border-radius: 10px;
    color: black;
}

.logo {
    width: 80px;
    height: 80px;
    justify-content: left;
    padding: 10px;
    margin: 10px;
    background-color: none;
    border-radius: 50%;
}

/*ESTILOS FORMULARIO*/

form{
    width: 450px;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    background-color: white;
    border-radius: 10px;
    font-family: 'Lato', sans-serif;
    font-size: 17px;
    display: flex;
    justify-content: center;
}

h2{
    font-size: 40px;
    -webkit-text-stroke: 0.2px black;
    font-family: 'Bebas Neue', sans-serif;
    color:#AAE3E2;
    padding-top: 10px;
    margin-bottom: 5px;
    text-align: center;
}

label{
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    text-align: left;
}

input,textarea{
    margin-bottom: 10px;
    border-radius: 5px;
    outline: none;
    background-color:#FDEBED;
    font-size: 15px;
    font-family: 'Lato', sans-serif;
    display: flex;
    flex-direction: column;
}

select,option{
    padding: 6px 30px;
    margin-bottom: 15px;
    outline: none;
    font-size: 15px;
    font-family: 'Lato', sans-serif;
    text-align: justify;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.btn{
    font-size: 18px;
    font-family: 'Bebas Neue', sans-serif;
    background-color: #AAE3E2;
    border: solid 0.2px;
    border-color: black;
    cursor: pointer;
    margin: auto;
    margin-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
}

.form-control.valida input{
    border: 0.1px solid;
    border-color: green;
}

.form-control-consulta.valida textarea{
    border: 0.1px solid;
    border-color: green;
}

.form-control.error input{
    border: 0.1px solid;
    border-color: red;
}

.form-control-consulta.error textarea{
    border: 0.1px solid;
    border-color: red;
}

.form-control p{
    visibility: hidden;
}

.form-control.error p{
    visibility: visible;
    color: red;
    font-size: 14px;
    margin-bottom: 5px;
}

.form-control-consulta.error p{
    visibility: visible;
    color: red;
    font-size: 14px;
    margin-bottom: 5px;
}

/*ESTILOS MAPA*/

.mapa{
    text-align: center;
}

.mapa p{
    color: #AAE3E2;
    font-size: 40px;
    font-family: 'Bebas Neue', sans-serif;
    -webkit-text-stroke: 0.1px black;
    margin-top: 10px;
    padding: 10px;
} 

/*ESTILOS NUEVO FOOTER*/

.footerct {
    background-color: #FDEBED;
    color: black;
    margin-top: 50px;
}

.footer-row{
    display: flex;
}

.footer-links{
    width: 25%;
    margin: 20px;
    padding: 10px;
    text-align: center;
}

.footer-links h5{
    font-size: 30px;
    font-family: 'Bebas Neue', sans-serif;
    margin-bottom: 10px;
    border-bottom: 5px solid #AAE3E2;
    display: inline-block;
}

.footer-links p{
    font-size: 20px;
    font-family: 'Bebas Neue', sans-serif;
}

.footer-links ul li {
    list-style: none;
}

.footer-links ul li a{
    color: black;
    font-size: 20px;
    font-family: 'Bebas Neue', sans-serif;
    text-decoration: none;
    display: block;
    margin-bottom: 5px;
}

.footer-links ul li a:hover{
    color: #AAE3E2;
    transition: 0.2 s;
}

.iconos a i{
    font-size: 50px;
    color: black;
    padding-top: 2px;
    padding-bottom: 15px;
}

.iconos a:hover i{
    color: #AAE3E2;
    transition: 0.2 s;
}

.copy{
    text-align: left;
    font-size: 18px;
    padding: 5px;
    font-family: 'Bebas Neue', sans-serif;
}
