* {
    margin: 0%;
    padding: 0%;
}


.padre {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #AAE3E2;
}

ul {
    margin: 0%;
    padding: 0%;
    display: flex;
}

ul li {
    list-style: none;
    justify-content: center;
    transition: 0.5s;
}

ul li a {
    display: block;
    text-decoration: none;
    position: relative;
    font-family: 'Bebas Neue', sans-serif;
    color: black;
    font-size: 35px;
    justify-content: space-around;
    padding: 20px;
    transition: 0.5s;
}

ul li a:hover {
    transform: scale(1.1);
    opacity: 2;
    color: indigo;
    filter: blur(0px);
}

ul li a:before {
    position: absolute;
    top: 0%;
    left: 0%;
    background: #FDEBED;
    width: 100%;
    height: 100%;
    transition: 0.5s;
    transform-origin: right;
    transform: scaleX(1.5);
    z-index: -1;
}

.aside {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-areas: "izquierda derecha";
    gap: 5px;
    background-color: #FFCEFE;
}

.izquierda {
    grid-area: izquierda;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    grid-area: auto;
    gap: 5px;
    height: 100%;
}

.derecha {
    grid-area: derecha;
    margin: 0;
    padding: 5px;
}

.item {
    padding: 10px;
    margin: 10px;
    width: 100%;
    height: 100%;
    justify-content: center;
    text-align: justify;
}

.imagen {
    width: 100%;
    max-width: 400px;
    border-radius: 30px;
    justify-content: center;
    padding: 0%;
    align-content: center;
}

.articulo {
    background-color: white;
    text-align: center;
    color: black;
    padding: 10px;
    margin: 20px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.footer {
    background-color: #FDEBED;
    color: black;
    text-align:center;
    margin-top: 50px;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.iconos_footer {
    width: 50px;
    height: 50px;
    justify-content: center;
    padding: 10px;
    margin: 10px;
    background-color: none;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*ESTILOS ICONOS HEADER*/

.carrito {
    width: 40px;
    height: 40px;
    justify-content: right;
    padding-right: 50px;
    padding-left: 5px;
    background: none;
    border-radius: 10px;
    color: black;
}

.lupa {
    width: 35px;
    height: 35px;
    justify-content: right;
    padding-right: 10px;
    padding-left: 0px;
    background: none;
    border-radius: 10px;
    color: black;
}

/*ESTILOS LOGO*/

.logo {
    width: 80px;
    height: 80px;
    justify-content: left;
    padding: 10px;
    margin: 10px;
    background-color: none;
    border-radius: 50%;
}

.caja {
    padding: 20px;
    margin: 20px;
    color: black;
    text-align: center;
    font-style: italic;

}


.contenidop {

    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    justify-content: center;
    text-align: center;
    gap: 3px;

}

.contenidop>div {
    font-family: Arial, Helvetica, sans-serif;

}


.imagen1 {
    border-radius: 30px;
    width: 50%;
    max-width: 400px;
}



/* .cursos1 {
    display: grid;
    grid-template-columns: auto auto auto ;
    gap: 5px;
    background-color: white;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    border: solid black;
}

.cursos1>div {
    padding: 10px;
    border: solid coral;
    border-radius: 10px;
    gap: 5px;

} */


.titulo {
    background-color: #FFCEFE;
    width: 100%;
    text-align: justify;
    color: black;
    padding-left: 40px;
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 35px;
    font-family: 'Bebas Neue', sans-serif;
}

/*ESTILOS FORMULARIO*/

form{
    margin: 10px 500px 10px;
    padding: 50px 55px;
    box-shadow: 0 0 20px #FFCEFE;
    border-radius: 10px;
    width: 300px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-align: center;
}

h2{
    font-size: 25px;
    color:#AAE3E2;
    margin-bottom: 15px;
}

input, textarea{
    padding: 4px 25px;
    margin-bottom: 2px;
    outline: none;
}

.btn{
    font-size: 15px;
    background-color: #FDEBED;
    border: 0;
    cursor: pointer;
}

.mapa{
    text-align: center;
}

.mapa p{
    color: #AAE3E2;
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px;
} 

/*ESTILOS NUEVO FOOTER*/

.footerct {
    background-color: #FDEBED;
    color: black;
    text-align:center;
    margin-top: 50px;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.iconos a i{
    font-size: 50px;
    color: black;
    padding: 8px;
}

.iconos a:hover i{
    color: #AAE3E2;
    transition: 0.2 s;
}

.copy{
    text-align: left;
    font-size: 20px;
    padding: 5px;
}

/*ESTILOS TARJETAS CURSOS*/

.containerprod{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    width: 300px;
    height: 200px;
    margin: 20px;
    padding-bottom: 180px;
    background-color: #FFCEFE;
    box-shadow: 2.5px 2.5px 10px rgba(0, 0, 0, 0.1);
}

.card h6{
    color: black;
    text-align: center;
    padding: 5px;
    font-size: 33px;
    font-family: 'Bebas Neue', sans-serif;
}

.card img{
    width: 300px;
    height: 200px;
}

.card .contenido{
    padding: 8px;
    background-color: #FFCEFE;
}

.card .contenido p{
    color: black;
    font-size: 13px;
    line-height: 1.5;
    text-align: justify;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #FFCEFE;
}

.card:hover{
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3);
    transition: 0.2s ease;
}

.link{
    font-size: 22px;
    font-family: 'Bebas Neue', sans-serif;
    text-align: center;
    padding-top: 5px;
}